{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">

        <h1>Create Event</h1>
        <p>Enter the event details below.</p>

        <!-- to prevent double clicks -->
        <form method="post" enctype="multipart/form-data" onsubmit="this.querySelector('button[type=submit]').disabled=true;">
          {{ form.hidden_tag() }}
          {{ render_form(form) }}
        </form>

        
      </div>
    </div>
  </div>

{% endblock %}