{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}{{ heading }} · SportsZone{% endblock %}

{% block body %}
<div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mb-3">{{ heading }}</h4>
      {{ render_form(form) }}
    </div>

    {% if heading == 'Login' %}
    <div class="col-md-4">
      <p class="mt-3">New user? <a href="{{ url_for('auth.register') }}">Click here</a> to register.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
